/*Black - #0B0C10*/
/*Gray - #1F2833*/
/*White - #C5C6C7*/
/*Lightblue - #66FCF1*/
/*Blue - #45A29E*/



/*NavBar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
  
  } 
  body{
    background-color: #b38f6c;
  }
  .line{
    height: 0.4vw;
    background-color: white;
  }
  nav{
    display: flex;
    height: 150px;
    width: 100%;
    top: 0;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.918);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: whitesmoke;
    font-size: 2.6vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  nav .logo:hover{
    color: #c8a27c;
    cursor: pointer;
  
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  .trail a {
    color: whitesmoke;
    border-radius: 9px;
    transition: all 0.3s;
  }
  .trail a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #c8a27c;
  }
  .cart{
    width: 25px;
    height: 25px;
    margin-left: 18vw;
    margin-right: 5vw;
  }
  nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    font-family: Comfortaa;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: all 0.1s ease;
  }
  nav ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #c8a27c ;
  }
  nav ul li a:active{
    opacity: 0.6;
  }
  nav .menu-btn i{
    color: whitesmoke;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 100px 0 50px;
    }
    
  }
  @media (max-width: 920px) {
    nav{
      position: relative;
      position: sticky;
      }
      nav ul{
        margin-top: 15vw;
        position: sticky;
      }
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
  
    }
    nav .logo{
      color: whitesmoke;
      font-size: 6vw;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all 0.2s;
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: white;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    .trail a {
      color: black;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      color: #0B0C10;
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: #0B0C10;
    }
  
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #0B0C10;
  }
  .content div{
    font-size: 40px;
    font-weight: 700;
  }
  /*NavBar*/

  /*Section1*/
  .feature-box3mobile{
    display: none;
  }
  .feature-box3 .mainbackground{
    background-color: black;
  
  }
  .feature-box3 .mainbackground .section3upper{
    color: whitesmoke;
    text-align: center;
  }
  .feature-box3 .mainbackground .section3upper p{
    font-family: robotoo;
    padding-top: 5vw;
    padding-bottom: 0vw;
    text-align: center;
    color: white;  
    letter-spacing: 2px;
    font-size: 3vw;
    padding-bottom: 3vw;
  }
  .feature-box3 .mainbackground .section3imgs{
    display: flex;
    flex-direction: row;  
  }
  .feature-box3 .mainbackground .section3imgs img{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: #d1a579;
    transition: all 0.3s;
  }
  .feature-box3 .mainbackground .section3imgs img:hover{
    padding: 0.7vw;
    opacity: 0.3;
    cursor: pointer;
  }
  .feature-box3 .mainbackground .section3txt{
    display: flex;
    flex-direction: row;  
  }
  .feature-box3 .mainbackground .section3txt p{
    margin: auto;
    color: #d1a579;
    padding-bottom: 2vw;
  }
  .feature-box3 .mainbackground .section3txt h3{
    color: whitesmoke;
    font-size: 1.2vw;
    margin: auto;
    margin-top: 1vw;
  }
  /*Section1*/

  /* Section 5*/
.feature-box5 .mainbackground{
  background-color: black;
}
.feature-box5 .mainbackground .footercontainer{
  display: flex;
  flex-direction: row;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.feature-box5 .mainbackground .footercontainer p{
  color: whitesmoke;
  margin: auto;
  font-size: 1vw;
}
.feature-box5 .mainbackground .footercontainer img{
  width: 50px;
  height: 25px;
  margin: auto;
}
.feature-box5 .mainbackground .footercontainer img:hover{
  cursor: pointer;
}
/* Section 5*/


  @media (max-width: 920px) {
    
    /* Section 3*/
    .feature-box3mobile{
      display: block;
    }
    .feature-box3{
      display: none;
    }
    .feature-box3mobile .mainbackground{
      background-color: black;
    
    }
    .feature-box3mobile .mainbackground .section3upper{
      color: whitesmoke;
      text-align: center;
    }
    .feature-box3mobile .mainbackground .section3upper p{
      font-family: robotoo;
      padding-top: 5vw;
      padding-bottom: 5vw;
      text-align: center;
      color: white;  
      letter-spacing: 2px;
      font-size: 6vw;
    }
    .feature-box3mobile .mainbackground .section3upper h2{
      display: none;
      font-family: 'Shadows Into Light', cursive;
      text-align: center;
      color: white;  
      font-size: 8vw;
      letter-spacing: 2px;
      padding-bottom: 5vw;
    }
    .feature-box3mobile .mainbackground .section3imgs{
      display: flex;
      flex-direction: column;  
    }
    .feature-box3mobile .mainbackground .section3imgs img{
      margin: auto;
      width: 280px;
      height: 280px;
      background-color: #d1a579;
      transition: all 0.3s;
    }
    .feature-box3mobile .mainbackground .section3imgs img:hover{
      padding: 0.7vw;
      opacity: 0.3;
    }
    .feature-box3mobile .mainbackground .section3txt{
      display: flex;
      flex-direction: column-reverse;  
    }
    .feature-box3mobile .mainbackground .section3txt p{
      margin: auto;
      color: #d1a579;
      padding-bottom: 2vw;
    }
    .feature-box3mobile .mainbackground .section3txt h3{
      color: whitesmoke;
      font-size: 1.2vw;
      margin: auto;
      margin-top: 1vw;
    }
    /* Section 3*/
    
    /* Section 5*/
    .feature-box5 .mainbackground{
      background-color: black;
    }
    .feature-box5 .mainbackground .footercontainer{
      display: flex;
      flex-direction: column;
      padding-top: 4vw;
      padding-bottom: 4vw;
    }
    .feature-box5 .mainbackground .footercontainer p{
      padding-bottom: 2vw;
      color: whitesmoke;
      margin: auto;
      font-size: 3vw;
    }
    .feature-box5 .mainbackground .footercontainer img{
      width: 50px;
      height: 25px;

      margin: auto;
    }
    .feature-box5 .mainbackground .footercontainer img:hover{
      cursor: pointer;
    }
    /* Section 5*/
    
    
        }
    
    
        